{% extends 'cms/base.html' %}
{% load static %}
{% block title %}
Update Course
{% endblock %}
{% block content %}
<!-- <div class="body py-2"> -->
    <!-- <h3 class="create my-2" style="color: rgb(0, 0, 0); text-align: center; font-weight: bold; ">Create a Course </h3> -->
    <div class="container my-4 pb-1">
        <h3 style="text-align:center">Update Course</h3>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{Cform.as_p}}
            {{Mform.as_p}}
            {{Uform.as_p}}
            <input type="submit" value="Update" class="btn btn-success mb-3">
            <a href="{% url 'Catalog' %}" class="btn btn-danger mb-3">Cancel</a>

            
            <form>
    </div>




    {% comment %} <script src="{% static 'js/CC.js' %}"> {% endcomment %}
    
{% endblock %}